<h2 class="center">Pagina Principal - home</h2>
<p> Sempre criar n=invações é preciso,e  fundamental apar nosso crescimento, sempre o estudo e aprimorando em cada
    ciclo da vida, smepre o crescimento, faz parte de um conhecimento, aprimorado, o estudo e o trabalhos emrpe nos
    nosso melhor e podemos crescer euanto iso, pois a evolução é fundamental. Nosos estudo smepre é bem importnate cada
    aprimoramento ni trabalho sempre nos dignifica como ser humano, pois cada estudo e pratica que exercermos na trabalho, 
    é bem vinda, para adquiri experiencia profissional. Cada a\primoramento e aperfeiçoamento podemos evoluir como profissional.</p>
<p>Nossos cerscimetno dependen de nossa determinação e nossa evolução, aprimorando da melhor forma nosso aprendizado, para pdoermos 
    evoluir cada vez , com bastante eficacia, e podemos nos dar muito bem como profissional. Um cre cimento aperfeiçoado sempre é 
    importante adquirimos. Estudar sempre é para aperfeiçoarmos no nosos trabalho como profissional, sempre nos dando o nosso melhor
    evoluindo e fazendo a maneira corretam, para podermos prosperarmos smepre.</p>
<img [src]="dedicacao" [alt]="altDedicacao">
<p>A dedicação sempre é fundamentala para nosos crescimento, evoluir da melhor forma significa ainda podemos aprofundar num conhecimento
    apropriado, em cada evolução, deidcando da melhor maneira , cada tempo, para sua tarefa profissiional e cotidiana, evoluindo do melhor
    estudo capacitado para aprimorara ainda mais no conhecimento. O conheicmento tem poder , pdoemos evoluir e crescer profissionalmente.</p>
<app-rodape></app-rodape>